body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #0095f6;
    outline: none;
}

.submit-button {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.submit-button:hover {
    background-color: #007bbf;
}

/* Celebration Popup Styles */
.celebration-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}

.celebration-popup h2 {
    color: #333;
}

#claimButton {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

#claimButton:hover {
    background-color: #007bbf;
}
